

<h1 class="impress">Listing Folevents</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @folevents.each do |folevent| %>
      <tr>
        <td><%= folevent.user_id %></td>
        <td><%= folevent.event_id %></td>
        <td><%= link_to 'Show', folevent %></td>
        <td><%= link_to 'Edit', edit_folevent_path(folevent) %></td>
        <td><%= link_to 'Destroy', folevent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Folevent', new_folevent_path %>
