<h3>Messages</h3>
    <%= include_sync_config %>

<%= sync partial: 'message_row', collection: @messages %>
<%= sync_new partial: 'message_row', resource: Message.new %>

<hr>

<%= form_for @new_message, remote: true do |f| %>
    <%= f.text_field :body %>
<% end %>
