

<div class="panel">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3 class="text-center"><b><font color="green">Etape 1</font></b></h3>
    <h5 class="text-center">Inscrivez-vous pour pouvoir interagir avec la communauté....</h5>
    <%= devise_error_messages! %>
    <div class="row">
      <div class="form-group large-6 columns">
      <%= f.label 'Votre nom' %>
      <%= f.text_field :username, placeholder: "Kwamé", label:'Votre nom', :autofocus => false, class: 'form-control' %>
    </div>
    <div class="form-group large-6 columns">
      <%= f.label 'Votre e-mail' %>
      <%= f.email_field :email, label:'Votre @', placeholder: "kwame@exemple.com", :autofocus => false, class: 'form-control' %>
    </div>
    <div class="form-group large-10 columns">
      <%= f.label 'Mot de passe' %>
      <%= f.password_field :password, label:'Mot de passe', class: 'form-control' %>
    </div>
    <div class="form-group large-10 left columns">
      <%= f.label 'Confirmation du passe' %>
      <%= f.password_field :password_confirmation, label:'Confirmation du passe', class: 'form-control' %>
    </div>
    <%= f.submit "Passer à l'étape 2 >", :class => 'button right success' %>
    </div>
    <% end %>
</div>
</div>
