
<!doctype html>
  <div class="hero1">
    <img class="hero__background1 show-for-small-only" "<%= image_tag("gradientpsm_small.jpg") %>">
    <img class="hero__background1 show-for-medium-only" "<%= image_tag("gradientpsm_small.jpg") %>">
    <img class="hero__background1 show-for-large-up" "<%= image_tag("gradientpsm.jpg") %>">
    <%= render 'layouts/messages' %>
  <div class="hero__title1">
    <div class="row left">
      <div class="large-2 small-4 column">
        <%= image_tag("logo.png") %>
      </div>
    <div class="small-5 left column">
      <h1 class="headline text-left"><b>Ka<font color="red">'</font></b><font color="#b6b6b6">agenda</font></h1>
    </div>
    <div class="large-5 right column">
      <h1 class="text-center"><b>Du mal a</h1>
      <h1 class="text-right">synchroniser nos</h1>
      <h1 class="text-left">événements dans la <font class="impress">communauté</font>?</b>
      <h3 class="show-for-large-up"></h3>
    </div>
    <div class="small-12 right column">
          <ul class="header-subnav1">
            <li><%= link_to new_user_registration_path do %> Organisons 3 etape!<% end %></li>
          </ul>
    </div>
    <div class="small-8 right column">
      <font size='1' class="text-right">
        Photo credits: le doyen <b>Doumby Fakoly</b> à la <a href="http://religionafricaine.org/"><b>SEMAINE POUR LA RELIGION AFRICAINE</b></a> à Bruxelles
        Organisé par <b><a href="https://www.facebook.com/prsmswmosiah/">PSM</a>, <a href="http://www.nationkamit.org/">Nation kamite</a> et <a href="http://3rna-maaya.com/">3RNA-MAAYA</a></b>
      </font>
    </div>
  </div>
</div>
<h3 class="show-for-large-up">
<br>
<br>
</h3>
<!-- Three-up Content Blocks -->
</div>
<div>
</div>
<div class="hero1" style="background: #ffffff;">
  <img class="hero__background1" "<%= image_tag("gradient.jpg") %>">
  <div class="row">
    <div class="large-2 columns right show-for-medium-up">
      <%= image_tag("oaca.png") %>
    </div>
    <div class="large-10 columns left">
      <h1 class="left show-for-medium-up"> <font size="3" color="white">Pouquoi le</font> <b><font color="white">Ka</font><font color="red">'</font></b><font color="#d5d4d4">agenda <font size="3" color="white">?</font></font></h1>
      <h1 class="left show-for-small-only"> <font size="3" color="black">Pouquoi le</font> <b><font color="black">Ka</font><font color="red">'</font></b><font color="#8e8a8a">agenda <font size="3" color="black"<?</font></font></h1>
      <font color="black">
      <br><hr>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ipsa obcaecati iusto consequatur laudantium voluptas odio! Iure at aliquid pariatur sapiente sint, et facilis ipsa, maiores deleniti, minima perspiciatis sed. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Culpa voluptatem ipsam quae nostrum. Dicta hic, cum similique quas perferendis excepturi, autem earum iste, sint vero quae rem dolorum illo quaerat.
    </font>
    </div>
    <div class="large-12 columns">
      <font color="black">
      <h1 class="text-center">"<b>N'agonisez pas,</h1>
      <h1 class="text-center"><font class=""><u>Or</u>g<u>aniez</u></font>!</b>" <br><font size="4">-<i>Walter Rodney</i>-</font></h1>
      <h3 class="show-for-large-up"><br></h3></font><hr>
    </div>
  </div>

  <div class="row">
  <div class="large-12 columns">
    <h1 class="text-left"> <font size="3" color="black">C'est quoi le</font> <b><font color="black">Ka</font><font color="red">'</font></b><font color="#5e5d5d">agenda <font size="3" color="black"></font></font><font size="3" color="black">?</font></h1>
  </div><hr>
  <div class="large-4 columns panels">
    <p><i class="fi-calendar center style3"></i></p>
    <b><font size='5' color='grey'>This is a content section.</font></b>
    <h6>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</h6>
    <%=link_to events_path do %><button class="button alert small"><i class="fi-calendar"></i> Tous les événements</button><%end%>
  </div>

  <div class="large-4 columns panels">
    <p><i class="fi-link style2"></i></p>
    <b><font size='5' color='grey'>This is a content section.</font></b>
    <h6>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</h6>
    <%=link_to activities_path do %><button class="button secondary small"><i class="fi-link"></i> Les activités suivie</button><%end%>
  </div>

  <div class="large-4 columns panels">
    <p><i class="fi-torsos-all style1"></i></p>
    <b><font size='5' color='grey'>This is a content section.</font></b>
    <h6>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</h6>
    <%=link_to orgns_path do %><button class="button success small"><i class="fi-torsos"></i> Tous les organisations</button><%end%>
  </div>
</div>
<br>
<hr><br>
<div class="row">
  <div class="large-2 left small-4 column">
    <%= image_tag("logo.png") %>
  </div>
  <div class="large-6 columns">
    <h1 class="text-center"> <font size="3" color="black">Que </font> <b><font color="black">3</font></font><font size="3" color="black"> étapes pour </font><font color="red"></b> S'organiser...</font></h1>
    <br>
    <ul class="square">
      <font size='3' color='grey'>
        <li>Connaisons nous!</li>
        <li>créeons des organisations!</li>
        <li>Communiquons!</li>
      </font>
    </ul>
  </div>
  <div class="large-4 columns panels">
    <div class="signup-panel">
      <p class="welcome"> Welcome to this awesome app!</p>
      <%= render partial: 'newreg' %>
    </div>
  </div>
 </div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
