<div class="hero1">
  <div class="show-for-medium-up">
    <%= render 'navigation' %>
  </div>
    <img class="hero__background1 show-for-small-only" "<%= image_tag("front_page_final_sm.jpg") %>">
    <img class="hero__background1 show-for-medium-only" "<%= image_tag("front_page_final_sm.jpg") %>">
    <img class="hero__background1 show-for-large-up" "<%= image_tag("front_page_final.jpg") %>">

    <%= render 'layouts/messages' %>
  <div class="hero__title1">
      <div class="large-2 small-4 columns">
        <%= image_tag("logo.png") %>
      </div>
    <div class="small-8 left columns">
      <h1 class="headline text-left"><b>Ka<font color="red">'</font></b><font color="#b6b6b6">agenda</font></h1>
    </div>
  <% unless user_signed_in? %>
      <div class="small-2 columns show-for-medium-up">
            <ul class="header-subnav2">
              <li><%= link_to new_user_session_path do %><i class="fi-torso"></i>Se connecter<% end %></li>
            </ul>
      </div>
  <%end%>
    <div class="row">
    <div class="large-5 right columns">
      <h1 class="text-center"><b>Du mal à</h1>
      <h1 class="text-right">synchroniser nos</h1>
      <h1 class="text-left">événements dans la <font class="impress_home">communauté</font>?</b>
      <h3 class="show-for-large-up"><br></h3>
    </div>
    </div>
    <% if user_signed_in? %>
      <div class="small-12 columns show-for-medium-up">
            <ul class="header-subnav2">
              <li><a class="top-off-canvas-toggle" href="#"><b><font size='3'><i class="fi-thumbnails"></i></font> navigation</b> </a></li>
            </ul>
    <% else %>
      <div class="small-12 columns">
          <ul class="header-subnav1">
            <li><%= link_to "/3etapes" do %> S'organiser en 3 etape!<% end %></li>
          </ul>
    <% end %>
    <div class="small-9 left columns show-for-medium-up">
      <font size='1' style="text-align:right">
        Photo credits: le doyen <b>Doumby Fakoly</b> à la <a href="http://religionafricaine.org/" target="_blank"><b>SEMAINE POUR LA RELIGION AFRICAINE</b></a> à Bruxelles
        Organisé par <b><a href="https://www.facebook.com/prsmswmosiah/"  target="_blank">PSM</a>, <a href="http://www.nationkamit.org/"  target="_blank">Nation kamite</a> et <a href="http://3rna-maaya.com/"  target="_blank">3RNA-MAAYA</a></b>
      </font>
    </div>
  </div>
</div>
<h3 class="show-for-large-up">
<br>
<br>
</h3>
<!-- Three-up Content Blocks -->
</div>
</div>

<div class="hero1" style="background: #ffffff;">
  <img class="hero__background1" "<%= image_tag("gradient.jpg") %>">
  <div class="row">
    <div class="large-2 columns right show-for-medium-up">
      <%= image_tag("oaca.png") %>
    </div>
    <div class="large-10 columns left">
      <h1 class="left show-for-medium-up"> <font size="3" color="white">Pouquoi le</font> <b><font color="white">Ka</font><font color="red">'</font></b><font color="#d5d4d4">agenda <font size="3" color="white">?</font></font></h1>
      <h1 class="left show-for-small-only"> <font size="3" color="black">Pouquoi le</font> <b><font color="black">Ka</font><font color="red">'</font></b><font color="#8e8a8a">agenda <font size="3" color="black"<?</font></font></h1>
      <font color="black">
      <br><hr>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ipsa obcaecati iusto consequatur laudantium voluptas odio! Iure at aliquid pariatur sapiente sint, et facilis ipsa, maiores deleniti, minima perspiciatis sed. Lorem
      ipsum dolor sit amet, consectetur adipisicing elit. Culpa voluptatem ipsam quae nostrum. Dicta hic, cum similique quas perferendis excepturi, autem earum iste, sint vero quae rem dolorum illo quaerat.
    </font>
    </div>
    <div class="large-12 columns">
      <font color="black">
      <h1 class="text-center">"<b>Don't agonize.</h1>
      <h1 class="text-center"><font class=""><u>Or</u>g<u>anize</u></font>!</b>" <br><font size="4">-<i>Kwamé Ture</i>-</font></h1>
      <h3 class="show-for-large-up"><br></h3></font><hr>
    </div>
  </div>


  <div class="row">
  <div class="large-12 columns">
    <h1 class="text-left"> <font size="3" color="black">C'est quoi le</font> <b><font color="black">Ka</font><font color="red">'</font></b><font color="#5e5d5d">agenda <font size="3" color="black"></font></font><font size="3" color="black">?</font></h1>
  </div><hr>
  <div class="large-4 columns panels">
    <p><i class="fi-calendar center style3"></i></p>
    <b><font size='5' color='grey'>Un Agenda</font></b>
    <h6>
      Plateforme d'organisation communautaire, le Ka'agenda permet aux différents organisateurs d'événement de vérifier les disponibilités des dates potentielles pour leurs futurs événements.
      Selon la date et la tranche d'heure souhaitée, l'organisateur pourra savoir quels sont les événtuels événements déjà prévus au même moment que le sien.
      Le but est de créer une synergie d’organisation de la communauté et maximiser le succès de chaque événement.
    </h6>
    <%=link_to events_path do %><button class="button alert small"><i class="fi-calendar"></i> Tous les événements</button><% end %>
  </div>

  <div class="large-4 columns panels">
    <p><i class="fi-heart style2"></i></p>
    <b><font size='5' color='grey'>Mes intêrets </font></b>
    <h6>
      <br>
      <br>
      Marquez votre intérêt pour un organisateur, une date ou un événement précis grace au bouton « <i class="fi-heart"></i> suivre ». Cela vous permettra d'obtenir toutes les informations utiles.
      Cliquez ci-dessous, et retrouvez toutes ces informations.</h6>
      <br>
      <br>
      <br>
    <%=link_to activities_path do %><button class="button secondary small"><i class="fi-heart"></i> Les activités suivies</button><%end%>
  </div>

  <div class="large-4 columns panels">
    <p><i class="fi-torsos-all style1"></i></p>
    <b><font size='5' color='grey'> Un réseau </font></b>
    <br>
    <br><br>
    <h6>Le Ka’agenda réunit un large réseau d’organisateurs d’événements de la communauté afro de Belgique.
    Ici, vous trouverez toutes les informations concernant les organisateurs d'évéments présents sur la plateforme Ka'agenda.</h6>
    <br>
    <br>
    <br>
    <%=link_to orgns_path do %><button class="button success small"><i class="fi-torsos"></i> Tous les organisations</button><%end%>
  </div>
</div>
<br>
<br>
<div class="row">
  <hr>
  <div class="small-2 left columns">
    <%= image_tag("logo.png") %>
  </div>

<% if user_signed_in? %>

  <div class="small-10 columns panel">  <%= render 'layouts/info' %></div>
<% else %>

  <div class="large-4 columns">
    <h1 class="text-center"> <font size="3" color="black">Seulement </font> <b><font color="black">3</font></font><font size="3" color="black"> étapes pour</font><font color="red"></b> S'organiser...</font></h1>
    <br>
    <ul class="square">
      <font size='4' color='grey'>
        <font color='#134b20' size='4'><li>Etape 1 :Inscrivez vous!</li></font>
        <h6>Inscrivez-vous pour pouvoir interagir avec la communauté...</h6>
        <font color='#134b20' size='4'><li>Etape 2 :Organisateur? Faites le nous savoir</li></font>
        <h6>Ajoutez votre oragination à la communauté pour les tenir au courant de vos événement...</h6>
        <font color='#134b20' size='4'><li>Etape 3 :Ecoutons-nous!</li></font>
        <h6>Restez au courant de tout ce qui se fait pour vous organiser en fonction et maximiser le succès de tout vos événements.</h6>
      </font>
    </ul>
  </div>
  <div class="large-6 columns panels">
    <div class="signup-panel">
      <h2 class="text-center" style="color: green;"><b>Etape 1: inscrivez-vous!</b></h2>
      <h4 class="lead">Inscrivez-vous pour pouvoir interagir avec la communauté...</h4>
      <%= render partial: 'newreg' %>
    </div>
  </div>
<% end %>

 </div>
 <div class="small-12 right columns show-for-small-only">
   <font size='1' class="text-right">
     Photo credits: le doyen <b>Doumby Fakoly</b> à la <a href="http://religionafricaine.org/" target="_blank"><b>SEMAINE POUR LA RELIGION AFRICAINE</b></a> à Bruxelles
     Organisé par <b><a href="https://www.facebook.com/prsmswmosiah/"  target="_blank">PSM</a>, <a href="http://www.nationkamit.org/"  target="_blank">Nation kamite</a> et <a href="http://3rna-maaya.com/"  target="_blank">3RNA-MAAYA</a></b>
   </font>
 </div>
</div>
