

<h1>Listing Belgia</h1>

<table>
  <thead>
    <tr>
      <th>Ville</th>
      <th>Codepostal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @belgia.each do |belgium| %>
      <tr>
        <td><%= belgium.ville %></td>
        <td><%= belgium.codepostal %></td>
        <td><%= link_to 'Show', belgium %></td>
        <td><%= link_to 'Edit', edit_belgium_path(belgium) %></td>
        <td><%= link_to 'Destroy', belgium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Belgium', new_belgium_path %>
