<p>
<h2 class="text-center impress"><strong>Vos événements en court</strong></h2>
<% if user_signed_in? && current_user.pro == true %>
<%= link_to new_event_path do %> <button class="button success"><i class="fi-plus"></i> ajouter un évenement</button><% end %> <%= link_to '/proagenda' do %> <button class="button secondary"><i class="fi-calendar"></i> voir l'agenda</button><% end %>

<% end %>
</p>
<div class="alert-box lists">
  <% @events.each do |event| %>
  <hr>
      <font size="6" color="green"><b><%= truncate_html(event.enom, :length => 30) %></b></font>
      <a href="/events/<%= event.id %>/edit" class="button secondary"><i class="fi-page-edit"></i> modifier l'evenement...</a>
      <a href="#" data-reveal-id="destroywarning_<%= event.id %>" class="button alert"><i class="fi-trash"></i> suprimmer l'événement...</a>
      <div class="row">
        <div class="large-2 columns">
          <i class="fi-torsos"></i>: <%= link_to event.orgn.oname, orgn_path(event.orgn) %><br>
          <a href="/events/<%= event.id%>"><%= image_tag event.flyer.url(:medium)%></a>
        </div>
        <div class="large-2 columns left">
          <b>commence le:</b>
          <font color="red"><%= event.esdate.to_date %></font>
          <br>
          à <i><%= event.esdate.strftime("%H:%M")%></i>
          <% if event.eedate != nil %>
            <br><b>fini le:</b>
            <br><font color="red"><%= event.eedate.to_date %></font>
            <br>à <i><%= event.eedate.strftime("%H:%M") %></i>
          <% end %>
<br>        <strong><%= event.ville %></strong> ,<%= event.pays %>

        </div>
        <div class="large-2 columns">
          <b>Thèmes:</b><br>
          <% event.event_tags.each do |word| %>
            <%= link_to word, "/event/hashtag/#{word.downcase.delete('#')}" %>
          <% end %>...
        </div>
        <div class="large-6 columns">
          <b>déscription:</b><br>
          <%= truncate_html(render_hashtags(event.edesc), :length => 450, omission: (link_to '...', event)) %>
        </div>
      </div>
      <br>
      <%= render partial: "destroywarning", locals:{event: event}%>
  <% end %>
</div>
<div class="apple_pagination">
<%= will_paginate @events, :previous_label => '<i class="icon fi-arrow-left"></i> Pré.' , :next_label => 'Suiv. <i class="icon fi-arrow-right"></i>', :container => false %>
</div>
<!--
<table>
  <thead>
    <tr>
      <th>Orgn</th>
      <th>Enom</th>
      <th>Edesc</th>
      <th>Edate</th>
      <th>Pafpre</th>
      <th>Pafplace</th>
      <th>Pays</th>
      <th>Ville</th>
      <th>Codepostal</th>
      <th>Rue</th>
      <th>Nrrue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.orgn.oname %></td>
        <td><%= event.enom %></td>
        <td><%= render_hashtags(event.edesc) %></td>
        <td><%= event.esdate %></td>
        <td><%= event.pafpre %></td>
        <td><%= event.pafplace %></td>
        <td><%= event.pays %></td>
        <td><%= event.ville %></td>
        <td><%= event.codepostal %></td>
        <td><%= event.rue %></td>
        <td><%= event.nrrue %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
-->
