<p id="notice"><%= notice %></p>

<p>
  <strong>Orgn:</strong>
  <%= @event.orgn.oname %>
</p>

<p>
  <strong>Enom:</strong>
  <%= @event.enom %>
</p>

<p>
  <strong>Edesc:</strong>
  <%= @event.edesc %>
</p>

<p>
  <strong>Esdate:</strong>
  <%= @event.esdate %>
</p>
<strong>Eedate:</strong>
<%= @event.eedate %>
<p>
  <strong>Pafpre:</strong>
  <%= @event.pafpre %>
</p>

<p>
  <strong>Pafplace:</strong>
  <%= @event.pafplace %>
</p>

<p>
  <strong>Pays:</strong>
  <%= @event.pays %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @event.ville %>
</p>

<p>
  <strong>Codepostal:</strong>
  <%= @event.codepostal %>
</p>

<p>
  <strong>Rue:</strong>
  <%= @event.rue %>
</p>

<p>
  <strong>Nrrue:</strong>
  <%= @event.nrrue %>
</p>

<%= link_to 'Back', events_path %> |
<% if user_signed_in? %>
  <% unless current_user.id == @event.orgn.user.id %>
    <%= link_to "modifier l'evenement", edit_event_path(@event) %>
    <%= render 'folevents/form' %>
  <% end %>
<% else %>
<% end %>
