<p id="notice"><%= notice %></p>

<p>
  <strong>Orgn:</strong>
  <%= @event.orgn_id %>
</p>

<p>
  <strong>Enom:</strong>
  <%= @event.enom %>
</p>

<p>
  <strong>Edesc:</strong>
  <%= @event.edesc %>
</p>

<p>
  <strong>Edate:</strong>
  <%= @event.edate %>
</p>

<p>
  <strong>Pafpre:</strong>
  <%= @event.pafpre %>
</p>

<p>
  <strong>Pafplace:</strong>
  <%= @event.pafplace %>
</p>

<p>
  <strong>Pays:</strong>
  <%= @event.pays %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @event.ville %>
</p>

<p>
  <strong>Codepostal:</strong>
  <%= @event.codepostal %>
</p>

<p>
  <strong>Rue:</strong>
  <%= @event.rue %>
</p>

<p>
  <strong>Nrrue:</strong>
  <%= @event.nrrue %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
