<p id="notice"><%= notice %></p>

<h1>Listing Orgns</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Oname</th>
      <th>Odesc</th>
      <th>Oemail</th>
      <th>Onum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orgns.each do |orgn| %>
      <tr>
        <td><%= orgn.user_id %></td>
        <td><%= orgn.oname %></td>
        <td><%= orgn.odesc %></td>
        <td><%= orgn.oemail %></td>
        <td><%= orgn.onum %></td>
        <td><%= link_to 'Show', orgn %></td>
        <td><%= link_to 'Edit', edit_orgn_path(orgn) %></td>
        <td><%= link_to 'Destroy', orgn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orgn', new_orgn_path %>
