<br>

<div class="row">
  <div class="large-4 columns center">
    <% if user_signed_in? && current_user.pro == true %>
      <%= link_to new_orgn_path do %> <button class="button success"><i class="fi-plus"></i> ajouter organisation</button><% end %>
    <% end %>
  </div>
  <h1 class="impress">Les Organisations</h1>
</div>
<hr></hr>
<div class="row">
<% @orgns.each_slice(4) do |slice| %>
  <% slice.each do |orgn| %>

   <div class="large-3 columns left">
     <div class="service">
          <div class="service-icon-box">
            <div class="small-11 columns left">
            <%= link_to (image_tag orgn.avatar.url(:medium)), orgn %>
          </div>
          </div>
          <h3 class="service-heading"><b>
            <%= link_to orgn.oname, orgn %>
            <!-- logic to follow an organisation in the partial beneath -->
            <%= render partial: 'orgns/shared/main_logic', locals:{orgn: orgn} %>
          </b></h3>

          <% if orgn.odesc.size < 80 %>
           <br><hr style="border-color:white;">
          <% end %>
           <p class="service-description">
            <%= truncate_html(orgn.odesc, :length => 150, omission: (link_to '...', orgn)) %>
          </p>
          <font color="grey"><font color="red"><%= orgn.events.where('esdate > ?', Time.now).count %></font> <i>événement planifié(s)</i></font>
      </div>
   </div>
   <%end%>
   <hr style="border-color:white;">
  <%end%>
   <br>
   <hr>
    <div class="apple_pagination">
     <%= will_paginate @orgns, :previous_label => '<i class="icon fi-arrow-left"></i> Pré.' , :next_label => 'Suiv. <i class="icon fi-arrow-right"></i>', :container => false %>
    </div>
</div>
