<br>

<div class="row">
  <div class="large-4 columns center">
    <% if user_signed_in? && current_user.pro == true %>
      <%= link_to new_orgn_path do %> <button class="button success"><i class="fi-plus"></i> ajouter organisation</button><% end %>
    <% end %>
  </div>
  <h1>Les Organisations</h1>
</div>
<hr></hr>
<div class="row">
<% @orgns.each_slice(4) do |slice| %>
  <% slice.each do |orgn| %>
   <div class="large-3 columns left">
     <div class="service">
          <div class="service-icon-box">
            <div class="small-11 columns left">
            <%= link_to (image_tag orgn.avatar.url(:medium)), orgn %>
          </div>
          </div>
          <h3 class="service-heading"><b>
            <%= link_to orgn.oname, orgn %>
            <!-- view of the syteme to follow organisation fyi the partials don't work for some reason i don't knows -->
            <% if user_signed_in? %>
              <% unless current_user.id == orgn.user.id %>
                <% if current_user.folorgs.where( orgn_id: orgn.id).count < 1 %>
                  <!-- what happens when the oragisation is not followed_by current_user -->
                  <a href="#" data-reveal-id="folorgn_<%= orgn.id %>" title="Cliquez pour ne plus suivre l'organisation...">

                    <font color="grey" title="Cliquez sur le coeur pour suivre l'organisation'"><i class="fi-heart" ></i>
                      <% if Folorg.where(orgn_id: orgn.id).count > 0 %>
                      <sup><%= Folorg.where(orgn_id: orgn.id).count %> </sup>
                      <% end %>
                    </font>

                  </a>
                  <!-- modal to follow -->
                  <div id="folorgn_<%= orgn.id %>" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                    <b>suivre l'organisation <%= orgn.oname %>?</b>
                    <br><br>
                    <% if Folorg.where(orgn_id: orgn.id).count > 0 %>
                      <font color="red"><%= Folorg.where(orgn_id: orgn.id).count %></font> personnne(s) suis(suivent) cette organisation.<br>
                    <% end %>
                    <!-- follow organisation form -->
                    <% @newfolorg = Folorg.new(orgn_id: orgn.id, user_id: current_user.id) %>
                    <%= simple_form_for(@newfolorg) do |f| %>
                      <%= f.error_notification %>
                      <%= f.input :user_id,:as => :hidden, :readonly => true %>
                      <%= f.input :orgn_id,:as => :hidden, :readonly => true %>
                      <div class="form-actions">
                        <%= button_tag(type: 'submit', class: "left button secondary round") do %>
                          <i class="icon fi-heart"></i> suivre <%= orgn.oname %>
                        <% end %>
                      </div>
                    <% end %>
                    <!-- end form and modal-->
                  </div>
                <!-- end when organisation not followed by -->
                <% else %>
                <!-- when a organisation is already followed_by current_user -->
                  <% @folorg = Folorg.where(user_id: current_user, orgn_id: orgn).first %>
                  <a href="#" data-reveal-id="delfol_<%= orgn.id %>" title="Cliquez pour ne plus suivre l'organisation...">
                    <font color="red" title="Cliquez sur le coeur pour suivre l'organisation'"><i class="fi-heart" ></i>
                      <% if Folorg.where(orgn_id: orgn.id).count > 0 %>
                        <sup><%= Folorg.where(orgn_id: orgn.id).count %> </sup>
                      <% end %>
                    </font>
                  </a>

                  <div id="delfol_<%= orgn.id %>" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                      <b>Vous suivez déjà <%= orgn.oname %></b><br>
                      <%= link_to destroy_fo_path(@folorg.id) do %><t class="button alert"><i class="fi-trash"></i> ne plus suivre <%= orgn.oname %> ?</t><% end %>
                  </div>
                <!-- end when a organisation is already followed -->
                <% end %>
              <!-- when a organisation is owned by current_user -->
              <% else %>
              <br>
              <%= link_to edit_orgn_path(orgn) do %><h6>
                <font color="black"><i class="fi-page-edit"></i></font> Modifier l'organisation...<% end %></h6>
              <!-- end when a organisation is owned by current_user -->
              <% end %>
            <!-- end view of the syteme to follow organisation -->
            <% end %>
          </b></h3>
          <p class="service-description">
            <%= truncate_html(orgn.odesc, :length => 150, omission: (link_to '...', orgn)) %>
          </p>
          <font color="grey"><font color="red"><%= orgn.events.where('esdate > ?', Time.now).count %></font> <i>événement planifié(s)</i></font>
      </div>
   </div>
   <%end%>
   <hr style="border-color:white;">
   <%end%>
</div>
<p id="notice"><%= notice %></p>

<br>
