<p id="notice"><%= notice %></p>

<p>
  <strong>Responsable:</strong>
  <%= @orgn.user.username %>
</p>

<p>
  <strong>Oname:</strong>
  <%= @orgn.oname %>
</p>

<p>
  <strong>Odesc:</strong>
  <%= @orgn.odesc %>
</p>

<p>
  <strong>Oemail:</strong>
  <%= @orgn.oemail %>
</p>

<p>
  <strong>Onum:</strong>
  <%= @orgn.onum %>
</p>


<%= link_to 'Back', orgns_path %>|
<% if user_signed_in? %>
  <% unless current_user.id == @orgn.user.id %>
    <%= link_to "modifier l'organisation", edit_orgn_path(@orgn) %>
    <%= render partial: 'folorgs/form'%>
  <% end %>
<% else %>
<% end %>
