<%=link_to orgns_path do %><button class="button secondary small"><i class="fi-arrow-left"></i> Tous les organations</button><%end%>
<div class="item-wrapper-event row">
  <div class="left small-4  columns">
    <font color="grey"><i class="fi-torso"></i> Responsable: <%= @orgn.user.username %></font>
  </div>
  <div class="left small-4  columns">
    <font color="green"><strong><h1 class="text-center"><b><%= @orgn.oname %></b></h1></strong></font>
  </div>
  <div class="left small-4 columns text-center">
    <%= render partial: 'orgns/shared/main_logic' %>
  </div>
</div>
<div class="row">

  <div class="item-wrapper-event large-6 columns">

    <%= image_tag @orgn.avatar.url(:medium) %>
    <div class="row">

        <hr>
        <font color="green"><h3 class="text-center">Contact:</h3></font> <hr>
        <div class="large-6 large-left columns text-left">
          <font size="6" color="#387956"><i class="fi-mail"></i></font> <font color="grey">e-mail:</font>
          <br>
          <a href="mailto:<%= @orgn.oemail %>" target="_top"><font size="4"><%= @orgn.oemail %></font></a>
        </div>

        <div class="large-6 large-left columns text-left">
          <font size="6" color="#387956"><i class="fi-telephone"></i></font> <font color="grey">Téléphone:</font>
          <br>
          <a href="tel:<%= @orgn.onum %>"><font size="4"><%= @orgn.onum %></font></a>
        </div>
      </div>

    </div>

  <br>
  <div class="item-wrapper-event large-6 columns">
    <%= simple_format(@orgn.odesc, :style =>"color:black;") %>
    <br>
  </div>

  <br>

<div>
<% if @events.count > 0 %>
<hr>
<h3 class="impress"><strong>Evenement organisé par cette organisation</strong></h3>

<% @events.each do | event| %>
  <div class="alert-box lists">
    <% if user_signed_in? && current_user.id == event.orgn.user.id %>
        <font size="6" color="green"><b><%= truncate_html(event.enom, :length => 30) %></b></font> <a href="/events/<%= event.id %>/edit" class="button secondary"><i class="fi-page-edit"></i> modifier l'evenement...</a>
      <% elsif user_signed_in? %>
      <% @del_event = current_user.folevents.where(event_id: event.id).first %>
      <% @folevent = Folevent.new(event_id: event.id, user_id: current_user.id) %>
        <%= render partial: "events/titellink", locals: {event: event} %>
      <% elsif  %>
        <%= render partial: "events/notsignedin", locals: {event: event} %>
      <% end %>

      <div class="row">
        <div class="large-2 columns">
          <i class="fi-torsos"></i>: <%= link_to event.orgn.oname, orgn_path(event.orgn) %><br>
          <a href="/events/<%= event.id%>"><%= image_tag event.flyer.url(:medium)%></a>
        </div>
        <div class="large-2 columns left">
          <b>commence le:</b>
          <font color="red"><%= event.esdate.to_date %></font>
          <br>
          à <i><%= event.esdate.strftime("%H:%M")%></i>
          <% if event.eedate != nil %>
            <br><b>fini le:</b>
            <br><font color="red"><%= event.eedate.to_date %></font>
            <br>à <i><%= event.eedate.strftime("%H:%M") %></i>
          <% end %>
          <br><strong><%= event.ville %></strong> ,<%= event.pays %>

        </div>
        <div class="large-2 columns">
          <b>Thèmes:</b><br>
          <% event.event_tags.each do |word| %>
            <%= link_to word, "/event/hashtag/#{word.downcase.delete('#')}" %>
          <% end %>...
        </div>
        <div class="large-6 columns">
          <b>déscription:</b><br>
          <%= truncate_html(render_hashtags(event.edesc), :length => 450, omission: (link_to '...', event)) %>
        </div>
      </div>
      </div>

  <%end%>
<% end %>
</div>
</div>
<br>
<hr>
