<div align="center">
  <h3>Send A message to Us</h3>

  <%= simple_form_for (@contact), :html => {:class => 'form-horizontal' } do |f| %>

  <% if user_signed_in? %>
    <%= f.input :name, :required => true, :input_html => {value: @user.username}, :readonly => true %>
    <%= f.input :email, :required => true, :input_html => {value: @user.email}, :readonly => true %>
  <% else %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
  <% end %>

    <%= f.input :subject , collection: ["Mes impressions sur votre bétas", "Vous contacter"], selected: 1 %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!', as: :hidden %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
