<%= simple_form_for(@addevent) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <br>
    <B> Qui l'organise? </B>
    <%= collection_select(:event, :orgn_id, current_user.orgn, :id, :oname) %>
    <br>
    <%= f.input :enom %>
    <%= f.input :edesc %>
    <%= f.input :esdate %>
    <%= f.input :eedate %>
    <%= f.input :pafpre %>
    <%= f.input :pafplace %>
    <%= f.input :pays %>
    <%= f.input :ville %>
    <%= f.input :codepostal %>
    <%= f.input :rue %>
    <%= f.input :nrrue %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
