<div>
<br>
  <h3 class="text-center">
    <b>Les info sur <%= l(jour, format: :long) %></b>
  </h3>
<br>

  <font color="red" ><%= events_that_day(jour, @events).size %></font> événement(s) planifé(s) a cette date: <br>
  <% @events.each do |event| %>
  <% if event.eedate != nil %>
    <% event.days.select{ |m| m == jour}.each do |ed| %>
      <% if event.esdate <= Time.now %>
        <font size="2">
          <del><%= link_to event.enom, event %></del>
        </font>
      <% else %>
        <font size="2" color = "black"><span class="event green">
          <b><%= link_to event.enom, event %></b> à <%= event.esdate.strftime("%H:%M") %><% if event.ville? %> sur <%= event.ville %> <% end %>
        </span></font>
      <% end %>
    <% end %>
  <% else %>
  <% if event.esdate <= Time.now %>
    <font size="2">
      <del><%= link_to event.enom, event %></del>
    </font>
  <% else %>
    <font size="2" color = "black"><span class="event green">
      <b><%= link_to event.enom, event %></b> à <%= event.esdate.strftime("%H:%M") %><% if event.ville? %> sur <%= event.ville %> <% end %>
    </span></font>
  <% end %>
  <% end %>
  <% end %>

</div>
