
<a href="#" data-reveal-id="jour_<%= jour.day%>_<%= jour.month %>">
  <font color="red"onmouseover="this.style.color='grey';" onmouseout="this.style.color='red'" title="Cliquez pour ne plus suivre cette date"><i class="fi-heart"></i><sup><%= @followed_date.count %></sup> </font>
</a>
<div id="jour_<%= jour.day%>_<%= jour.month %>" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <%= render :partial => 'dateview', locals: {jour: jour} %>
  <br>
  <b>Vous etes <font color="#ff6600"><%= @followed_date.count %></font> organisation(s) a suivre cette date.<br> </b>
  <br>
  <div class="row">
    <div class="large-6 columns">
      <% if current_user.orgns.count > 0 %>
        <a href="#" data-reveal-id="addevent_<%= jour.day%>_<%= jour.month %>">
          <button class="button success"><b><i class="fi-plus"></i> ajouter un événement</b></button>
        </a>
      <% end %>
    </div>
    <div class="large-6 columns">
        <%= link_to destroy_fd_path(@del_date.id) do %>
          <t class="button alert"><i class="fi-trash"></i> ne plus suivre cette date</t>
        <% end %>
    </div>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
