
<a href="#" data-reveal-id="jour_<%= jour.day%>_<%= jour.month %>">
  <font color='grey' onmouseover="this.style.color='red';" onmouseout="this.style.color='grey';" title="Cliquez sur le coeur pour suivre cette date"><i class="fi-heart" ></i>
    <% if @followed_date.count > 0 %>
      <sup><%= @followed_date.count %></sup>
    <% end %>
  </font>
</a>
<div id="jour_<%= jour.day%>_<%= jour.month %>" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" >
  <%= render :partial => 'dateview', locals: {jour: jour} %>
  <br>
  <b>Suivre cette date?</b>
  <br>
   <font color="#ff6600"><%= @followed_date.count %></font> organisation(s) sui(vent)s.<br>
  <br>
    <%= render "foldate" %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
