<!--Attach the Table CSS and Javascript-->
<div class="row calendar">
  <div class="large-2 columns show-for-medium-up">
  <br><br><br><br><br><br>
  <article id="sidebar" class="events-press-cta panel" style="top: 193.366px;">
        <p class="lead"><b>Petit tuto...</b></p>
        <ul>
          cliquez sur:
            <li><font color="red" size='4'><i class="fi-link"></i></font> <b>pour suivre une date:</b></li>
              <font size='1'>Ceci vous tiendra au courant de toutes chose qui se passe à cette date</font>
              <br>
              <li><font color="#00cc99" size='4'><i class="fi-plus"></i></font> <b>Pour ajoutez un événement:</b></li>
                <font size='1'>
                  Ceci pemettra a tout la communauté d'etre prevenue de votre event et d'y tenir compte dans leurs organisation
                  <br>
                  (vous pouvez modifier ces données a tout moments l'hors de votre organisation)
                </font>
          </ul>
      </article>
  </div>

  <div class="large-10 columns">
  <h2 class="text-center impress"> L'agenda</h2>
  <br>
    <div class="text-center">
      <%= link_to start_date: date_range.first - 1.day do %><t class="button success round"><b><</b></t><% end %>
      <font style="text-transform: uppercase;"><%= l(start_date, format: :mname) %> </font>
      <%= link_to start_date: date_range.last + 1.day do %><t class="button success round"><b>></b></t><% end %>


    </div>
    <table class="calendar" style="border-spacing: 0">
      <thead>
        <tr>
          <th width="200">Lun</th>
          <th width="200">Mar</th>
          <th width="200">Mer</th>
          <th width="200">Jeu</th>
          <th width="200">Ven</th>
          <th width="200">Sam</th>
          <th width="200">Dim</th>
        </tr>
      </thead>
      <tbody>
        <% date_range.each_slice(7) do 	|semaine| %>
        <tr>
          <% semaine.each do 	|jour| %>

          <td class="active">
            <% @foldate = Foldate.new(datefolwd: jour, user_id: current_user.id) %>
            <% @user_date = current_user.foldates.where(:datefolwd => jour) %>
            <% @del_date = current_user.foldates.where(:datefolwd => jour).first %>
            <% @followed_date = Foldate.where(:datefolwd => jour) %>
            <!--les dates anterieur au mois actuelle en gris-->
            <% if jour.month < Date.today.month %>
              <span class="day"><font color="grey"><del><%=l(jour, format: :justd)%></del></font><hr></hr></span>

            <!--les dates posterieur au mois actuelle en verts avec l'option de suivre la dates-->
            <% elsif jour.month > Date.today.month %>
              <span class="day" >
                <font color="grey"><%= l(jour, format: :justd) %></font>
                  <%= render partial: 'datefonctions', :locals => {:jour => jour} %>
              <hr></hr>
              </span>

            <!--les dates du mois actuelle mais anterieur a today en verts barré-->
            <% elsif jour < Date.today %>
              <span class="day"><del><font color="green"><%= l(jour, format: :justd) %>.</font></del><hr></hr></span>

            <!--today en bien visible avec l'option de suivre la dates-->
            <% elsif jour == Date.today %>
              <span class="day">
                <font color="orange"><b><%= l(jour, format: :justd) %>.</b></font>
                  <%= render partial: 'datefonctions', :locals => {:jour => jour} %>
              <hr></hr>
              </span>

            <!--les dates du mois actuelle apres today verts gras avec l'option de suivre la dates-->
            <% else %>
              <span class="day">
                  <b><font color="green"><%= l(jour, format: :justd) %>.</font></b>
                  <%= render partial: 'datefonctions', :locals => {:jour => jour} %>
              <hr></hr>
              </span>
            <% end %>

            <% @events.each do |event| %>
            <% if event.eedate != nil %>
              <% event.days.select{ |m| m == jour}.each do |ed| %>
                <% if event.esdate <= Time.now %>
                  <font size="0.5"><span class="event grey">
                    <del><%= event.enom %></del>
                  </span></font>
                <% elsif event.public = true %>
                  <font size="0.5" color = "black"><span class="event green">
                    <b><%= link_to event.enom, event %></b><sub>à <%= event.esdate.strftime("%H:%M") %></sub>
                  </span></font>
                <% elsif event.public = false  %>
                  <font size="0.5" color = "black"><span class="event yellow">
                    <b><%= link_to event.enom, event %></b><sub>à <%= event.esdate.strftime("%H:%M") %></sub>
                  </span></font>
                <% end %>
              <% end %>
          <% else %>
          <% if event.esdate <= Time.now %>
            <font size="0.5"><span class="event grey">
              <del><%= event.enom %></del>
            </span></font>
          <% elsif event.public == true %>
            <font size="0.5" color = "black"><span class="event green">
              <%= link_to event.enom, event %>
              <%= event.esdate.time %>
            </span></font>
          <% elsif event.public == false  %>
              <font size="0.5" color = "black"><span class="event yellow">
                <%= link_to event.enom, event %> <%= event.esdate %>
              </span></font>
            <% end %>
          <% end %>
          <% end %>
          </td>
          <%end%>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
