<!--Attach the Table CSS and Javascript-->

<h1 class="text-center">Agenda des evenement en court d'organisation</h1>


<aside class="left large-2 columns" >
 <article id="sidebar" class="events-press-cta panel sticky">
        <p class="lead">What are you going to do with it?</p>
        <p class="lead">Can't we just let it go? It's not harming anyone.</p>
        <p>How we can help:
          <ul>
            <li>Feature it here!</li>
            <li>Help promote it.</li>
            <li>Review material for accuracy.</li>
            <li>Stickers!</li>
          </ul>

        </p>
        <a class="tiny button" href="#">Contact us</a>
  </article>

</div>
</aside>

<div class="row calendar">
<div class=" large-10 columns">
  <div class="text-center">
    <% start_date = params.fetch(:start_date, Date.today).to_date %>
    <% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a %>
    <%= link_to start_date: date_range.first - 1.day do %><t class="button success round"><b><</b></t><% end %>
    <font style="text-transform: uppercase;"><%= l(start_date, format: :mname) %> </font>
    <%= link_to start_date: date_range.last + 1.day do %><t class="button success round"><b>></b></t><% end %>
  </div>
  <table class="calendar" style="border-spacing: 0">
    <thead>
      <tr>
        <th width="300">Lun</th>
        <th width="300">Mar</th>
        <th width="300">Mer</th>
        <th width="300">Jeu</th>
        <th width="300">Ven</th>
        <th width="300">Sam</th>
        <th width="300">Dim</th>
      </tr>
    </thead>
    <tbody>
      <% date_range.each_slice(7) do 	|semain| %>
      <tr>
        <% semain.each do 	|jour| %>
        <td class="active">
          <% @foldate = Foldate.new(datefolwd: jour, user_id: current_user.id) %>
          <% @addevent = Event.new(esdate_date: jour.to_date, esdate_time: "", orgn_id: current_user.orgn.first.id, eedate_date: jour.to_date , esdate_time: "" ) %>
          <% @user_date = current_user.foldates.where(:datefolwd => jour) %>
          <% @del_date = current_user.foldates.where(:datefolwd => jour).first %>
          <% @followed_date = Foldate.where(:datefolwd => jour) %>
          <% count_event = Event.where('? BETWEEN esdate AND eedate', jour) %>
          <!--les dates anterieur au mois actuelle en gris-->
          <% if jour.month < Date.today.month %>
            <span class="day"><font color="grey"><del><%=l(jour, format: :justd)%></del></font><hr></hr></span>

          <!--les dates posterieur au mois actuelle en verts avec l'option de suivre la dates-->
          <% elsif jour.month > Date.today.month %>
            <span class="day" >
              <font color="green"><%= l(jour, format: :justd) %></font>
              <% if @user_date.count < 1 %>
              <!-- popups avec les formulaire pour suivre un date et faire un nouvelle evenement -->
                <a href="#" data-reveal-id="jour_<%= jour.day%>_<%= jour.month %>"><font color="grey"><i class="fi-heart"></i><% if @followed_date.count > 0 %><sup><%= @followed_date.count %></sup><% end %> </font><font color="#006600"><i class="fi-calendar"></i><sup><%= count_event.count %></sup></font></a>
                <div id="jour_<%= jour.day%>_<%= jour.month %>" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                  <b>suivre la date du <%= jour %>?</b><br><br>
                  <%if @followed_date.count > 0 %>
                   <font color="#ff6600"><%= @followed_date.count %></font> une organisation(s) suis cette date.<br>
                  <% else %>
                  <% end %>
                    <%= render "foldate" %>
                </div>
              <% else %>
                <a href="#" data-reveal-id="jour_<%= jour.day%>_<%= jour.month %>"><font color="#ff6600"><i class="fi-heart"></i><sup><%= @followed_date.count %> </font></sup><font color="#006600"><i class="fi-calendar"></i><sup><%= count_event.count %></sup></font></a>
                <div id="jour_<%= jour.day%>_<%= jour.month %>" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                  <b>Vous suivez déjà la date du <%= jour %></b><br>
                    <%if (@followed_date.count - @user_date.count) > 0 %>
                    avec  <font color="#ff6600"><%= @followed_date.count - @user_date.count %></font> autres organisations.<br>
                    <% end %>

                    <%= link_to destroy_fd_path(@del_date.id) do %><t class="button alert"><i class="fi-trash"></i> ne plus suivre cette date</t><% end %>
                </div>
              <% end %>
              <a href="#" data-reveal-id="addevent_<%= jour.day%>_<%= jour.month %>"><font color="#00cc99"><b><i class="fi-plus"></i> </font></b></a>
              <div id="addevent_<%= jour.day%>_<%= jour.month %>" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                <h3><b>Ajoutez un événement  le <%= jour %>?</b><br></h3>
                  <%= render "addevent" %>
              </div>
            <!-- /popups -->
            <hr></hr>
            </span>

          <!--les dates du mois actuelle mais anterieur a today en verts barré-->
          <% elsif jour < Date.today %>
            <span class="day"><del><font color="green"><%= l(jour, format: :justd) %>.</font></del><hr></hr></span>

          <!--today en bien visible avec l'option de suivre la dates-->
          <% elsif jour == Date.today %>
            <span class="day">
                <font color="orange"><b><%= l(jour, format: :justd) %>.<b></font>
                  <% if @user_date.count < 1 %>
                  <!-- popups avec les formulaire pour suivre un date et faire un nouvelle evenement -->
                    <a href="#" data-reveal-id="jour_<%= jour.day%>_<%= jour.month %>"><font color="grey"><i class="fi-heart"></i><% if @followed_date.count > 0 %><%= @followed_date.count %><% end %> </font><font color="#006600"><i class="fi-calendar"></i><sup><%= count_event.count %></sup></font></a>
                    <div id="jour_<%= jour.day%>_<%= jour.month %>" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                      <b>suivre la date du <%= jour %>?</b><br><br>
                      <%if @followed_date.count > 0 %>
                       <font color="#ff6600"><sup><%= @followed_date.count %></sup></font> une organisation(s) suis cette date.<br>
                      <% else %>
                      <% end %>
                        <%= render "foldate" %>
                    </div>
                  <% else %>
                    <a href="#" data-reveal-id="jour_<%= jour.day%>_<%= jour.month %>"><font color="#ff6600"><i class="fi-heart"></i><sup><%= @followed_date.count %></sup> </font> <font color="#006600"><i class="fi-calendar"></i><sup><%= count_event.count %></sup></font></a>
                    <div id="jour_<%= jour.day%>_<%= jour.month %>" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                      <b>Vous suivez déjà la date du <%= jour %></b><br>
                        <%if (@followed_date.count - @user_date.count) > 0 %>
                        avec  <font color="#ff6600"><%= @followed_date.count - @user_date.count %></font> autres organisations.<br>
                        <% else %>
                        <% end %>

                        <%= link_to destroy_fd_path(@del_date.id) do %><t class="button alert"><i class="fi-trash"></i> ne plus suivre cette date</t><% end %>
                    </div>
                  <% end %>
                  <a href="#" data-reveal-id="addevent_<%= jour.day%>_<%= jour.month %>"><font color="#00cc99"><b><i class="fi-plus"></i></font></b></a>
                  <div id="addevent_<%= jour.day%>_<%= jour.month %>" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                    <h3><b>Ajoutez un événement  le <%= jour %>?</b><br></h3>
                      <%= render "addevent" %>
                  </div>
                <!-- /popups -->
              <hr></hr>
              </span>


          <!--les dates du mois actuelle apres today verts gras avec l'option de suivre la dates-->
          <% else %>
            <span class="day">
                <b><font color="green"><%= l(jour, format: :justd) %>.</font></b>
                <% if @user_date.count < 1 %>
                <!-- popups avec les formulaire pour suivre un date et faire un nouvelle evenement -->
                  <a href="#" data-reveal-id="jour_<%= jour.day%>_<%= jour.month %>"><font color="grey"><i class="fi-heart"></i><% if @followed_date.count > 0 %><sup><%= @followed_date.count %></sup><% end %> </font><font color="#006600"><i class="fi-calendar"></i><sup><%= count_event.count %></sup></font></a>
                  <div id="jour_<%= jour.day%>_<%= jour.month %>" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                    <b>suivre la date du <%= jour %>?</b><br><br>
                    <%if @followed_date.count > 0 %>
                     <font color="#ff6600"><%= @followed_date.count %></font> une organisation(s) suis cette date.<br>
                    <% else %>
                    <% end %>
                      <%= render "foldate" %>
                  </div>
                <% else %>
                  <a href="#" data-reveal-id="jour_<%= jour.day%>_<%= jour.month %>"><font color="#ff6600"><i class="fi-heart"></i><sup><%= @followed_date.count %></sup></font></a>
                  <div id="jour_<%= jour.day%>_<%= jour.month %>" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                    <b>Vous suivez déjà la date du <%= jour %></b><br>
                      <%if (@followed_date.count - @user_date.count) > 0 %>
                      avec  <font color="#ff6600"><%= @followed_date.count - @user_date.count %></font> autres organisations.<br>
                      <% else %>
                      <% end %>

                      <%= link_to destroy_fd_path(@del_date.id) do %><t class="button alert"><i class="fi-trash"></i> ne plus suivre cette date</t><% end %>
                  </div>
                <% end %>
                <a href="#" data-reveal-id="addevent_<%= jour.day%>_<%= jour.month %>"><font color="#00cc99"><b><i class="fi-plus"></i></font></b></a>
                <div id="addevent_<%= jour.day%>_<%= jour.month %>" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                  <h3><b>Ajoutez un événement  le <%= jour %>?</b><br></h3>
                    <%= render "addevent" %>
                </div>
              <!-- /popups -->
            <hr></hr>
            </span>

          <% end %>

          <% @events.each do |event| %>
            <% event.event_dates.select{ |m| m == jour}.each do |ed| %>
              <% if event.esdate <= Time.now %>
                <font size="0.5"><span class="event grey"><%= event.enom %></span></font>
              <% elsif event.public == true %>
                <font size="0.5" color = "black"><span class="event green"><%= link_to event.enom, event %></span></font>
              <% elsif event.public == false  %>
                <font size="0.5" color = "black"><span class="event yellow"><%= link_to event.enom, event %></span></font>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <%end%>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>
<br>
