<% if tracked_event.activities.any? %>

<% unless activity.event_start_end_dates == activity.previous_activity.event_start_end_dates %>
<div class="large-1 columns left">
  <font size="6"><i class="fi-calendar"></i></font>
</div>
  <div class="large-6 columns left">
    <%= activity.created_at %><br>
    <%= link_to activity.trackable.orgn.oname, activity.trackable.orgn %> a modifié la date de l'evenement <%= link_to activity.trackable.enom, activity.trackable %>
    <br>
    <% if activity.esdate != activity.previous_activity.esdate %>
      Modification de la date de début
      du <%= link_to :controller => :agenda, :action => :index, start_date: activity.previous_activity.event_start_end_dates do %>
            <%= activity.previous_activity.esdate %><% end %>
      au <%= link_to :controller => :agenda, :action => :index, start_date: activity.event_start_end_dates do %>
            <%= activity.esdate %><% end %>
    <% end %><br>
    <% if activity.eedate != activity.previous_activity.eedate %>
      Modification de la date de fin
      du <%= link_to :controller => :agenda, :action => :index, start_date: activity.previous_activity.event_start_end_dates do %>
            <%= activity.previous_activity.eedate %><% end %>
      au <%= link_to :controller => :agenda, :action => :index, start_date: activity.event_start_end_dates do %>
            <%= activity.eedate %><% end %>
    <% end %>

  </div>

<% else %>
<div class="large-1 columns left">
  <font size="6"><i class="fi-page-edit"></i></font>
</div>
  <div class="large-6 columns left">
    <%= activity.created_at %><br>
    <%= link_to activity.trackable.orgn.oname, activity.trackable.orgn %> a modifié l'évenement <%= link_to activity.trackable.enom, activity.trackable %>
  </div>

<% end %>
<% end %>
