<% if @foldates.exists?(id: activity.trackable_id) %>
<!-- looped scope for when you made an event on the same date as activity -->

<!-- looped scope for when event date range include the same date as your followed dates -->

  <% if likes_at_event_days(current_user.events, activity.trackable) > 0 %>
    <div class="alert-box lists row">
      <%= render partial: 'activities/foldate/partials/heart' %>
      <div class="large-6 columns left">
        <%= render partial: 'activities/foldate/partials/create_message', locals: {activity: activity} %>.
      </div>
      <div class="small-5 columns left">
        <br>
        <% current_user.events.each do |event| %>
          <%= render partial: 'activities/followable_partials/event_that_day', locals: {date: activity.trackable.datefolwd, event: event, activity: activity} %>
        <% end %>
      </div>
    </div>

  <% elsif likes_same_day(current_user.foldates, activity.trackable) > 0 %>
    <div class="alert-box lists row">
      <%= render partial: 'activities/foldate/partials/heart' %>
      <div class="large-6 columns left">
        <%= render partial: 'activities/foldate/partials/create_message', locals: {activity: activity} %> comme vous.
      </div>
      <%= render partial: 'activities/foldate/partials/cause_date_followed', locals: {activity: activity} %>
    </div>
  <% end %>

<% end %>
