<% if @foldates.exists?(id: activity.trackable_id) %>
<div class="alert-box success row">
<div class="large-1 columns">
<font size="6"><i class="fi-heart"></i></font>
</div>
<div class="large-6 columns left">
<%= activity.created_at %><br>
<%= link_to activity.user.username, activity.user %> de <%= link_to activity.user.orgn.first.oname, activity.user.orgn.first %> suit aussi la date du <%= link_to :controller => :agenda, :action => :index, start_date: activity.trackable.datefolwd do %><%= activity.trackable.datefolwd %><% end %>
</div>
<div class="small-5 columns left">
folowed object
</div>
</div>
<% end %>
