<% if @foldates.exists?(id: activity.trackable_id)%>
<% if @foldates.where(user_id: current_user.id, datefolwd: activity.trackable.datefolwd ).count > 0 && activity.trackable.user_id != current_user.id %>
  <div class="alert-box success row">
    <div class="large-1 columns">
      <font size="6"><i class="fi-heart"></i></font>
    </div>
    <div class="large-6 columns left">
      <%= activity.created_at %><br>
      <%= link_to activity.user.username, activity.user %> de <%= link_to activity.user.orgn.first.oname, activity.user.orgn.first %> suit la date du <%= link_to :controller => :agenda, :action => :index, start_date: activity.trackable.datefolwd do %><%= activity.trackable.datefolwd %><% end %> comme vous.
    </div>
    <div class="small-5 columns left">
      Suivez la date du <%= link_to :controller => :agenda, :action => :index, start_date: @foldates.where(user_id: current_user.id, datefolwd: activity.trackable.datefolwd ).first.datefolwd do %>
      <%= @foldates.where(user_id: current_user.id, datefolwd: activity.trackable.datefolwd ).first.datefolwd %>
      <% end %>
    </div>
  </div>
<% end %>
<% end %>
