
  <ul class="off-canvas-list">
    <label id="top"><b><font size="4" color="#999999"><strong>Ka<font color="red">'</font></strong>agenda</font><font size="1px" color="#ffffff"></b> Navigateur</font>
        <span class="right"><b>
          <font color="red"><h5 color="red" class="fi-x"></h5><button class="exit-off-canvas"></button></font>
        </b></span>
      </label>
  </ul>
  <br>
  <div class="row">
    <div class="large-12 columns">
      <div class="large-4 columns panels">
        <p><i class="fi-calendar center style3"></i></p>
        <b><font size='5' color='grey'>Un Agenda</font></b><br>
        <li><%=link_to proagenda_path do %><i class="fi-calendar"></i> Le calendrier pro<% end %></li>
        <li><%=link_to events_path do %><i class="fi-calendar"></i> Tous les événements<% end %></li>
        <li><%=link_to event_index_pro_path do %><i class="fi-calendar"></i> Mes événements<% end %></li>
      </div>
      <div class="large-4 columns panels">
        <p><i class="fi-heart style2"></i></p>
        <b><font size='5' color='grey'>Mes intêrets </font></b><br>
        <li><%=link_to activities_path do %><i class="fi-heart"></i> Les activités suivies<%end%></li>
        <li><a href="/folorgs"><i class="fi-torsos"></i> Organisation que je suis</a></li>
        <li><a href="/folevents"><i class="fi-calendar"></i> Evénements que je suis</a></li>
      </div>
      <div class="large-4 columns panels">
        <p><i class="fi-torsos-all style1"></i></p>
        <b><font size='5' color='grey'> Un réseau </font></b><br>
        <li><%=link_to orgns_path do %><i class="fi-torsos"></i> Toutes les organisations<%end%></li>
        <li><%=link_to orgn_index_pro_path do %><i class="fi-torsos"></i> Mes organisations<%end%></li>
      </div>
    </div>
  </div>
