<nav class="top-bar" data-topbar role="navigation">
  <div class="top-bar-section">
<ul class="title-area">
  <li >
    <a href="/"><font color="white">Ka'agenda</font></a>
  </li>
</ul>
<ul class="right">
  <% if user_signed_in? %>
    </font>
  </a>
        <li><a href="/activities"><font size="3"><i class="fi-heart"></i></font> notification</a></li>
        <li class="has-dropdown">
        <a href="#"> <%= current_user.username%> <i class="fi-torso"></i></a>
        <ul class="dropdown">
          <li><%= link_to 'Changer mon compte', edit_user_registration_path %></li>
          <li><%= link_to 'Se déconnecter', destroy_user_session_path, :method=>'delete' %></li>
        </ul>
      </li>
      <% else %>
      <li><%= link_to 'Se connecter', new_user_session_path %></li>
      <li><%= link_to "S'incrire", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
