<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ka'agenda" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ka'agenda" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'logo_small.png' %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

   <div class="off-canvas-wrap docs-wrap" data-offcanvas>
     <div class="inner-wrap">
<!-- top menu bar + toggle buttons-->
       <header>
        <% unless current_page?(root_path) %>
          <%= render 'layouts/navigation' %>
        <% else %>
          <div class="show-for-small-only">
            <%= render 'layouts/navigation' %>
          </div>
        <% end %>
      </header>

<!-- Off Canvas Menu left-->
            <%= render 'layouts/aside' %>
<!-- Off Canvas Menu left-->
        <div class="top-off-canvas-menu" data-options="force-top: true">
            <%= render 'layouts/attop' %>
        </div>
<!-- whatever you want goes here -->
    <% unless current_page?(root_path) %>
          <div class="large-10 small-12 small-centered columns  ">
            <%= render 'layouts/messages' %>
                   <%= yield %>
          </div>
      <% else %>
             <%= yield %>
      <% end %>
<!-- close the off-canvas menu -->
      <footer class="footer">
        <%= render 'layouts/footer' %>
      </footer>
    </div>
  </div>

  </body>
</html>
<!-- Shoot out au gars de ZURB pour Foundation -->
