<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ka'agenda" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ka'agenda" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'logo.png' %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'vendor/jquery' %>
    <%= javascript_include_tag 'vendor/fastclick' %>
    <%= javascript_include_tag 'foundation.min' %>
  </head>
  <body>
<% unless current_page?(root_path) %>

   <div class="off-canvas-wrap docs-wrap" data-offcanvas>
     <div class="inner-wrap">
           <header>
            <!--toggle button-->
            <%= render 'layouts/navigation' %>
          </header>
<!-- Off Canvas Menu -->
            <%= render 'layouts/aside' %>
<!-- whatever you want goes here -->
          <div class="large-10 small-12 small-centered columns  ">
            <%= render 'layouts/messages' %>
                   <%= yield %>
          </div>
<!-- close the off-canvas menu -->
      <footer class="footer">
        <%= render 'layouts/footer' %>
      </footer>
    </div>
  </div>
<% else %>
       <%= yield %>
     <footer class="footer">
       <%= render 'layouts/footer' %>
     </footer>
<% end %>
  </body>
    <script>$(document).foundation();</script>
</html>
