<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Oac Agenda" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Oac Agenda" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <div class="small-2 columns">
      <ul class="custom-side-nav">
         <font size="6px"><strong>Ka<font color="red">'</font></strong>agenda</font><font color="#33cc33"> pro</font>
           <li><a href="/proagenda"><i class="fi-calendar"></i> Agenda</a></li>
           <li>
            <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">Has Dropdown</a>
            <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
              <li><a href="#">This is a link</a></li>
              <li><a href="#">This is another</a></li>
              <li><a href="#">Yet another</a></li>
            </ul>
        <li>
           <li class="divider">
           <li><a href="#">Link 3</a></li>
           <li><a href="#">Link 4</a></li>
         </ul>
       </article>
         </div>
           <div class="small-10 columns">
                    <%= yield %>
           </div>
              </div>

    </main>
  </body>
</html>
